@(form:Form[Note], categories:List[Category])

@main("Note form") {

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Note</li>
        </ol>
    </nav>

    <form method="post" action="/notes">

        <input type="hidden" name="id" value="@form("id").getValue().get()">

        <div class="form-group">
            <label for="form-title">Title</label>
            <input name="title" value="@form("title").getValue().get()" type="text" class="form-control @if(form.getError("title").isPresent()){ is-invalid }" id="form-title">

            @for(currentError <- form.errors("title")) {
                <div class="invalid-feedback">
                    @currentError.message()
                </div>
            }
        </div>

        <div class="form-group">
            <label for="form-note">Note</label>
            <textarea name="description" id="form-note" class="form-control @if(form.getError("description").isPresent()){ is-invalid }">@form("description").getValue().get()</textarea>

            @for(currentError <- form.errors("description")) {
                <div class="invalid-feedback">
                @currentError.message()
                </div>
            }
        </div>

        <div class="form-group">
            <label for="form-category">Category</label>

            <select id="form-category" class="form-control" name="category.id">
            @for(category <- categories) {
                <option @if(form("category").getValue().isPresent() && form("category").getValue().get().equals("models.Category@" + category.getId())) { selected } value="@category.getId()">@category.getTitle()</option>
            }
            </select>
        </div>


        @helper.CSRF.formField

        <button type="submit" class="btn btn-primary">Save</button>

    </form>

}